{{#with data}}

<li>{{this.imageUrl}}</li>
<li>{{this.name}}</li>
<li>{{this.description}}</li>
<li>{{this.interestingFacts}}</li>
<li>{{this.photoUrl}}</li>

<button class="like__btn">
   <span id="icon"><i class="far fa-thumbs-up"></i></span>
   <span id="count">0</span> Like
</button>

{{/with}}